<link rel="stylesheet" href="./cart/css/cart.css">
<div class="cart">
	<div class="cart-fix">
		<div class="cart-header">
			<a href="" class="arrow"><img src="./cart/img/cart-header-01.png" alt=""></a>
			<a href=""><img src="./cart/img/cart-header-02.png" alt=""><span>请填写地址</span><img src="./cart/img/cart-header-03.png" alt=""></a>
			<a href="">编辑</a>
		</div>
		<div class="cart-send-time">
			<ul>
				<li class="no-disable">今天配送</li>
				<li class="on">3/22周三</li>
				<li>3/23周四</li>
				<li>3/24周五</li>
			</ul>
			<ul>
				<li class="on">17::30以前</li>
				<li>08:00-11:30</li>
				<li>15:30-17:30</li>
				<li>17:30-20:30</li>
			</ul>
		</div>
	</div>
	<div class="cart-shop">
		<div class="cart-shop-introduce">
			<span>活动</span><span>其它</span>
		</div>
		<ul>
			<li ng-repeat="item in data">
				<input type="CheckBox">
				<img src="{{ item.imgUrl }}" alt="">
				<div>
					<div class="cart-shop-name">{{ item.goodsName }}</div>
					<div class="price">￥{{ item.price }}</div>
				</div>
				<div class="buyBtn">
					<img src="./cart/img/cart-shop-02.png" alt="" class="cart-shop-sub" ng-click="delCount()">
					<span class="cart-shop-number">{{ item.count }}</span>
					<img src="./cart/img/cart-shop-03.png" alt="" class="cart-shop-add" ng-click="addCount()">
				</div>
			</li>

		</ul>
		<div class="cart-shop-total">
			<input type="checkbox" checked="checked">
			<div>
				<div><span class="total-title">合计:</span><span class="total-price">￥{{ allMoney }}</span></div>
				<div class="cart-shop-freight">不含运费</div>
			</div>
			<span class="cart-shop-tatal-btn">结算</span>
			<div class="cart-shop-Join-in-a-single">全场满99包邮 点我凑单</div>
			<div class="cart-shop-triangle"></div>
		</div>
		
	</div>
</div>