body{
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	background:#eeeeee;
	margin-bottom: 1.62726rem;;
}
.detail-top{
	width:10rem;
	height:9.335004rem;
	position:relative;
}
.detail-top .fanhui{
	width:1.196106rem;
	height:1.196106rem;
	background:url(../imgs/back_icon_bg3.png) no-repeat center center #878b8e;
	background-size:0.347705rem 0.625869rem;
	position:fixed;
	left:0.305981rem;
	top:0.806676rem;
	border-radius:50%;
	z-index:999;
}
.detail-top img{
	width:10rem;
	height:9.335004rem;
}
.base-info{
	width:10rem;
	height:2.336579rem;
	background:#fff;
	overflow:hidden;
	position:relative;
}
.base-info p{
	font-size:0.417246rem;
	margin:0.139082rem 0 0 0.417246rem;
}
.base-info div{
	margin:0.236439rem 0 0 0.417246rem;
	color:#666;
}
.base-info .goods-price{
	margin:0.347705rem 0 0 0.417246rem;
	color:#ed4c00;
	font-size:0.417246rem;
	display:inline-block;

}
.base-info .goods-old-price{
	color:#a1a1a1;
	text-decoration:line-through;
}
.base-info .num{
	width:2.40612rem;
	height:0.806676rem;
	position:absolute;
	right:0.319889rem;
	bottom:0.278164rem;
	border-top:0.013908rem solid #e5e5e5;
	border-bottom:0.013908rem solid #e5e5e5;
}
.base-info .num a{
	width:0.834492rem;
	height:0.834492rem;
}
.base-info .num .jia{
	float:left;
}
.base-info .num .number{
	display:inline-block;
	width:0.737135rem;
	height:0.834492rem;
	float:left;
	text-align:center;
	line-height:0.834492rem;
	font-size:0.417246rem;
}

.base-info .num .jia{
	float:left;
}

.base-info .num a img{
	width:0.834492rem;
	height:0.834492rem;
}
.assess{
	width:10rem;
	height:1.070932rem;
	margin:0.264256rem 0 0.264256rem 0;
	background:url(../imgs/right_arrow_orange.png) no-repeat 9.318498rem center #fff;
	background-size:0.417246rem 0.764951rem;
}
.assess p{
	font-size:0.417246rem;
	color:#ff8d3d;
	line-height:1.070932rem;
	margin:0 0 0 0.556328rem; 
}
.address{
	width:10rem;
	height:2.614743rem;
	background:#fff;
	margin-bottom:0.528512rem;
}
.address table{
	width:10rem;
	height:2.614743rem;
	padding:0.445063rem 0.417246rem 0.445063rem 0.417246rem;
	color:#666666;
}
.address table span{
	font-weight:bold;
	color:#5f5f5f;
}
.desciprion{
	width:10rem;
	background:#fff;
}
.desciprion p{
	width:9.179416rem;
	margin:0 0 0 0.417246rem;
}
.desciprion p img{
	width:9.179416rem;
	
}
.detail-fotter{
	width:10rem;
	height:1.62726rem;
	border-top:0.027816rem solid #e6e6e6;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background:url(../imgs/cart-icon.png) no-repeat 0.611961rem center #fff;
	background-size:1.251739rem;
	z-index: 999;
}
.detail-fotter .addcart{
	width:2.503477rem;
	height:0.945758rem;
	border-radius:0.139082rem;
	background:#fd4401;
	text-align:center;
	line-height:0.945758rem;
	color:#fff;
	font-size:0.347705rem;
	margin:0.375522rem 0 0 6.995828rem;
}
.detail-fotter p {
	position: absolute;
	top: 5px;
	left: 60px;
	width: 20px;
	height: 20px;
	background-color: orange;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}
